package pages

import (
	p "github.com/puregarlic/space/html/components/posts"
	"github.com/puregarlic/space/models"
)

templ Home(posts []*models.Post) {
	<ul class="flex flex-col gap-6">
		if len(posts) > 0 {
			for _, post := range posts {
				<li class="flex flex-col">
					@p.PostFeedHeader(post)
					@p.PostContent(post)
				</li>
			}
		} else {
			<li class="text-muted bg-surface px-4 py-8 text-center border border-overlay">
				intention-rich, content-poor
			</li>
		}
	</ul>
}
