# Port for the server to listen on.
# Change this to something you can tunnel during local development
PORT=5050

# Root URL, with protocol, where your server is accessible.
PROFILE_URL="http://localhost/"

ADMIN_USERNAME="change"
ADMIN_PASSWORD="me"

JWT_SECRET="bogus"
