package layouts

import (
	"github.com/puregarlic/space/html/components"
	"net/http"
)

func RenderDefault(title string, page templ.Component) http.Handler {
	document := Default(title, page)

	return templ.Handler(document)
}

templ Default(title string, body templ.Component) {
	<!DOCTYPE html>
	<html>
		@components.Head(title)
		<body class="px-4 py-12 md:py-20 text-text bg-base">
			@body
		</body>
	</html>
}
