package posts

import "github.com/puregarlic/space/models"

templ Note(post *models.Post) {
	<div class="bg-surface p-4 first:rounded-t last:rounded-b border-2 border-overlay">
		{ GetPostJSONProperty(post, "content")[0] }
	</div>
}
